body{background-color:pink;display:flex;justify-content:center;align-items:baseline}.body{background-color:coral}.text{font-size:50px}button{background-color:black;color:white}input{padding:5px}form{margin:5px}

